@charset "utf-8";

header {
    width: 100%;
    height: 100vh;
    background: url(./bg.jpg) no-repeat center center;
    background-size: cover;
}

header h1 {
    color: #fff;
    text-align: center;
}

main {
    padding: 300px 0;
    text-align: center;
}